{% extends 'main/layout.html'%}

{% block title %}{{ title}}{% endblock %}

{% block content %}
    <div class ="feature">
        <h1>{{ title }} </h1>
        <p>Игровая галактика - это онлайн-ресурс, посвященный миру видеоигр и игровой культуре. На нашем блоге вы найдете обзоры самых популярных и ожидаемых игр, свежие новости из мира гейминга, полезные советы по прохождению игр, обсуждения игровых технологий и трендов, а также всё о развитии e-спорта.</p>
        <p>Мы стараемся быть в курсе всех событий в игровой индустрии и предоставлять нашим читателям актуальную и интересную информацию. Наша команда состоит из опытных геймеров и профессионалов игровой индустрии, которые делятся своими знаниями и опытом с нашими читателями.</p>
        <p>Мы также проводим интервью с разработчиками игр, организаторами турниров по e-спорту и другими ключевыми фигурами игровой индустрии, чтобы предоставить нашим читателям эксклюзивную информацию из первых уст.</p>
        <p>Наша цель - создать сообщество людей, увлеченных играми, которые могут обмениваться мнениями, обсуждать новинки и делиться своим опытом. Мы стремимся быть платформой, где каждый найдет что-то интересное для себя, независимо от предпочтений в играх.</p>
        <p>Присоединяйтесь к нашей игровой галактике и окунитесь в захватывающий мир видеоигр вместе с нами! </p>
        <a class="qwe" href="{% url 'news_home'%}" ><button class ="btn btn-success" type="sumbit"> На страницу новости </button></a>
        <a class="qwe" href="{% url 'about'%}" ><button class ="btn btn-success"> На страницу про нас </button></a>

    </div>

{% endblock %}